---
const { title = "Receipt Printer Utilities", description = "A web app for printing receipts" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="googlebot" content="noindex" />
        <meta name="viewport" content="initial-scale=1, viewport-fit=cover, width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content={title} />
        <link rel="icon" sizes="192x192" href="/android-app.png" />
        <link rel="icon" sizes="128x128" href="/app-icon.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/app-icon-highres.png" />
        <link rel="icon" type="image/svg+xml" href="https://fav.farm/🧾" />
        <link rel="manifest" href="/manifest.json" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:image" content="/app-icon-highres.png" />
        <meta name="og:url" content={Astro.url} />
        <meta name="generator" content={Astro.generator} /><title>
            {title}
        </title>
    </head>

    <!-- possible content values: default, black or black-translucent -->

    <body>
        <slot />
    </body>

    <style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
        }
        body {
            touch-action: pan-x pan-y;
        }

        html {
            min-height: calc(100% + env(safe-area-inset-top));
            padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
                env(safe-area-inset-left);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</html>
